:root
{
    --brand-color: #2196F3;  
    --main-color: #212121;
    --secondary-color:#757575;
    --white-color:#ffff;
    --secondary-bcg-color:#2F303A;
    --team-bcg-color:#F5F4FA;
    --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --icon-defult-color: #AFB1B8;
    --portfolio-item-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.list,
h1,
h2,
h3,
h4,
h5,
h6,
p,
body{
    margin: 0px;
    padding: 0px;
}
body{
    color: var(--main-color);
    background-color: var(--white-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

img{
    display: block;
    max-width: 100%;
}
.container{
    margin: 0px auto;
    width: 1200px;
    padding: 0px 15px; 
}

/* header */
.header{
    margin-bottom: 0px;
    border-bottom: 1px solid  #ECECEC;
}

.top{
    display: flex;
    justify-content: space-between;
}
.nav, .navigation, .adress{
    display: flex;
    align-items: center;
}
.logo{
    font-family: Raleway, sans-serif;
    color: inherit;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 93px;
}
.link{
    text-decoration: none;
    display: block;
}
.logo-word{
    color: var(--brand-color);
}
.list{
    list-style: none;  
    
}
.nav-item-links{
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    color: inherit;
}

.active-page::after{
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--brand-color);
    content: '';
}

.nav-item:not(:last-child){
    margin-right:50px;
}
.nav-item, .top-adress-item{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.active-page{
    color: var(--brand-color);
} 
.top-adress-item{
    display: flex;
    color: var(--secondary-color);
    fill: var(--secondary-color);
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.adress-item:not(:last-child){
    margin-right: 50px;
 }
.adress{
    margin-left: auto;
}
.nav-item, .top-adress-item{
    transition: 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item:hover, .top-adress-item:hover, .top-adress-item:focus, .nav-item:focus{
    color: var(--brand-color);
    fill: var(--brand-color);
}
.title-section{
    padding: 200px 0px;
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary-bcg-color);
    background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),  url("../images/hero.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white-color);
}
.section{
    padding: 94px 0px; 
}
.section-photo{
    padding-top: 0px;
}
/* hero section */
.hero{
    text-align: center;
    width: 696px;
}
.main-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.button{ 
    padding: 10px 32px;
    border-style: none;
    border-radius: 4px;
}
.order.button{
    background-color: var(--brand-color);
    color: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
.button:hover, .button:focus, .button:active{
    cursor: pointer;
}

/* info section */
.info, .images, .team{
    display: flex;
    padding: 0px;
    margin: 0px;
    justify-content: space-between;

}
.info-item{
    flex-basis: 270px;
}

.info-item::before{
    content: '';
    display: block;
    height: 120px;
    background-repeat: no-repeat;
    background-color: var(--team-bcg-color);
    margin-bottom: 30px;
    background-position: center;
    border-radius: 4px;
}

.info-item:nth-child(1)::before{
    background-image: url("../images/antenna.svg");
}
.info-item:nth-child(2)::before{
    background-image: url("../images/clock.svg");
}
.info-item:nth-child(3)::before{
    background-image: url("../images/diagram.svg");
}
.info-item:nth-child(4)::before{
    background-image: url("../images/astronaut.svg");
}
.info-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    margin-bottom: 10px;
}

.info-text{
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

/* section-photo */
.images-item{
    position: relative;
}

.images-discription{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 224px;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
}

/* team section */
.section-team{
    background-color: var(--team-bcg-color);
}

.team-item{
    background-color: var(--white-color);
    padding-bottom: 30px;
    box-shadow: var(--card-shadow);
    border-radius: 0px 0px 4px 4px;
}
.team-item > img{
    margin-bottom: 30px;
}
.team-content{
    padding: 0px 32px;
}
.member-name{
    font-weight: 500;
    margin-bottom: 10px;
}
.member-name, .position{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.position{
    color: var(--secondary-color);
    margin-bottom: 16px;
}

/* social-icons */
.social{
    display: flex;
    width: 206px;
    justify-content: space-between;
}

.social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 44px;
    width: 44px;
    fill: #AFB1B8;
    transition: 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus, .social-link:active{
    fill: var(--white-color);
    background-color: var(--brand-color)
   }

/* clients-section */
.clients-section{
    background-color: var(--white-color);
}
.clients-list{
    display: flex;
    gap: 30px;
}
.client-link{
    outline: 1px solid var(--icon-defult-color);
    width: 170px;
    border-radius: 4px;
    height: 92px;
    fill: var(--icon-defult-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 
    outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover, .client-link:focus, .client-link:active{
   outline-color: var(--brand-color);
   fill: var(--brand-color);
}
/* footer */
.bottom{
    background-color: var(--secondary-bcg-color);
    color: var(--white-color);
    padding: 60px 0px;
}

.footer-logo{
    margin-right: 0px;
    margin-bottom: 20px;
}

.bottom-adress-list-item:not(:last-child){
    margin-bottom: 9px;
}

.bottom-adress-item{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--white-color);
    opacity: 60%;
}

.street{
    opacity: 100%;
}

.bottom-container{
    display: flex;
    justify-content: flex-start;
    gap: 70px;
    align-items:baseline;
}
.social-list-title{
    margin-bottom:20px;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 0.9;
    text-transform: uppercase;
    color: var(--white-color);
}
.bottom-link{
    fill: var(--white-color);
    background: rgba(255, 255, 255, 0.1);
}

/* porfolio page */

/* filter */
.filter{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-item:not(:last-child){
    margin-right: 9px;
}

.filter-button{
    background-color: var(--team-bcg-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    transition: 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, .filter-button:focus, .filter-button:active{
   background-color: var(--brand-color);
   color: var(--white-color);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* portfolio list */
.portfolio{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}
.portfolio-item{
    outline:1px solid #EEEEEE;


}
.porfolio-images{
    position: relative;
    overflow: hidden;
}

.porfolio-discription{
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 294px;
    background: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    color: var(--white-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    transform: translateY(294px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .porfolio-discription{
    transform: translateY(0);
}
.portfolio-item:hover, .portfolio-item:focus, .portfolio-item:active{
    box-shadow: var(--portfolio-item-shadow);

}

.portfolio-info{
    padding: 20px 24px;
}

.portfolio-project{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.type{
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

/* modal */
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: var(--white-color);
}
.close-button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 490px;
    bottom: 543px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--white-color);
}
/* forms */
.modal{
    padding:40px;
}
.form-title{
    text-align: center;
    margin-bottom: 12px;
}
.registration{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.form-element{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    gap: 4px;
}
.form-element>input, .form-element>textarea{
padding: 11px 12px;
border: none;
outline: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
}
